*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-size: 1rem;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

img {
  width: 100%;
}

.container {
  padding: 0.5rem;
  width: 100%;
}

header {
  padding: 1rem;
  background-color: bisque;
}

input, button {
  margin-top: 0.5rem;
}

button, input, .meme h2 {
  padding: 0.5rem;
}

button, .meme {
  text-transform: uppercase;
}

input {
  width: 100%;
  background-color: bisque;
  border: none;
}

::placeholder {
  font-style: italic;
}

button {
  margin-bottom: 0.5rem;
  border: none;
  display: block;
  width: 100%;
  background-color: peru;
}

.meme {
  position: relative;
  color: #fff;
}

.meme h2 {
  position: absolute;
}

.meme .top {
  top: 0;
  left: 0;
}

.meme .bottom {
  bottom: 0;
}



